---
layout: default
permalink: /
---
<div>
  <p style="text-align:center">Universidad de la República<br>
    Facultad de Humanidades y Ciencias de la Educación<br>
    Instituto de Ciencias Históricas<br>
    Departamento de historiología<br>
    Técnicas de la investigación histórica</p>
    <br>
    <h1 style="text-align:center">Presentación de las copias paleográficas de la primera prueba parcial</h1>
    <br>
    <br>
    <p style="text-align:center">Federico Sardi<br>
      a.federicosardi@gmail.com<br>
      C.I.: 4.642.192-1<br>
      <br>
      Equipo docente:<br>
      Prof. Agr. Juan Andrés Bresciano<br>
      Asist. Santiago Delgado<br>
      Ay. Matías Borba<br>  
</div>
